<h1>Usuários Cadastrados:</h1>
<div class="container">
    
        
            {{#each users}}
                <div class="item">
                    <h3>Nome: <span>{{this.name}}</span></h3>
                    <h3>Profissão: <span>{{this.occupation}}</span></h3>
                    <div class="actions"> <br>
                      <button class="botao" ><a href="/users/{{this.id}}" style="color: black;">detalhes</a></button>  
                    </div>
                </div>
            {{/each}}
        
 
</div>

