/* geral*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#navbar{
    border-bottom: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
}
#navbar ul{
    display: flex;
    list-style: none;
}
#navbar ul li{
    margin-left: 2em;
}
#navbar ul li a{
    text-decoration: none;
}
/* fim do estyle geral */

/* p치gina principal '/' */
.container h1{
    margin-top: 5%;
    text-align: center;
    font-family: monospace;
}

.form{
    display: flex;
    flex-direction: column;
    margin:  5% auto;
    justify-content:space-evenly;
    height: 170px; 
   
}
.form-control{
    display: flex;
    flex-direction: column;
    
}
.form-control > label{
    margin-top: .8rem;
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
}
.form-control > input{
    margin-top: .6rem;
    height: 25px;
    padding: 2%;
}
.form > input{
    margin-top: .8rem;
    border: none;
    height: 60px;
    cursor: pointer;
    background-color: cadetblue;
    color: #fff;
}
.form > input:hover{
    background-color:  rgb(59, 175, 179) ;
}

/* fim p치gina principal */

/* p치gina de resultados */
.botao, a{
    width: 200px;
    text-align: center;
    margin: 2% auto;
    text-decoration: none;
}
.livros-main{
    display: grid;
    align-items: flex-end;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    background-color: cadetblue;
    width: 50%;
    height: 25px;
    margin: 0 auto;
    font-size: 20px;
    font-family: monospace;
    border-top-left-radius:125px;
    border-top-right-radius:125px;;
}
.livros{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: flex-end;
    text-align: center;
    border-bottom:1px solid cadetblue;
    background-color: rgb(128, 216, 219);
    height: 25px;
    width: 50%;
    margin: 0 auto;
}
/* fim da p치gina de resultados */

/* Livros */

#book-page{
    text-align: center;
    border-bottom: 1px solid #ccc;
    width: 50%;
    margin: 0 auto;
}
.actions{
    width: 100%;
}